<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<p>尊敬的用户：${seller}</p>
	<p style="text-indent: 2em">有用户购买了您的商品 </p>
	<p style="text-indent: 2em">订单号：${orderId}</p>
	<p style="text-indent: 2em">商品名： ${goodsName}</p>
	<p style="text-indent: 2em">数量 ：${goodsNum}</p>
	<br>
	<p style="text-indent: 2em">收件人： ${recevieName}</p>
	<p style="text-indent: 2em">收货地址： ${address}</p>
	<p style="text-indent: 2em">联系电话： ${tel}</p>
	<p style="text-indent: 2em">备注 ：${bz}</p>
	<br><br>
	<p style="color:red">请及时发货！！！</p>
</body>
</html>